*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html, body{
  color: #666;
}

#quote{
  margin-bottom: 70px;
}

.container{
  padding: 20px;
  min-width: 700px;
  max-width: 1000px;
  margin: 0 auto;
}

h2{
  margin: 10px 0;
  clear: both;
  display: inline-block;
}

.highlight{
  color: #FFAA19;
}

.meta{
  margin-bottom: 20px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

ul{
  list-style: none;
  display: inline-block;
}

.quotebox li{
  font-size: 25px;
  color: #555;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin: 2px;
  background-color: #fff;
  border-bottom: 2px solid #007CFF;
  display: inline-block;
}

.letterbox li{
  font-size: 25px;
  border: 1px solid #007CFF;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 2px;
  background-color: #fff;
  float: left;
}

.quotebox .content .word{
  margin: 6px 30px 6px 30px;
}

li{
  position: relative;
  font-weight: normal;
  text-align: center;
  z-index: 2;
  transition: all 0.5s;
}

li.choice:hover{
  cursor: pointer;
  color: #FFAA19;
  transform: scale(1.4);
  z-index: 10;
}

li.choice{
  background-color: #fff;
  color: #007CFF;
}

li.selected{
  background-color: #007CFF;
  color: #fff;
  font-weight: bold;
}

.quotebox .content{
  padding: 30px 10px 40px;
  background-color: #eee;
  display: block;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

.letterbox  {
  width: 50%;
}

li.guessed-true{
  background-color: #C3E7CC;
}

.footer{
  margin-top: 100px;
}

.hangman{
  position: relative;
  top: -45px;
  left: -60px;
  width: 200px;
  height: 237px;
  background-color: #fff;
  float: right;
}

.hangman div{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 237px;
}

.hangman .strike{
  display: inline-block;
}

.layer-0.hidden, .layer-1.hidden, .layer-2.hidden, .layer-3.hidden, .layer-4.hidden, .layer-5.hidden, .layer-6.hidden{
  display: none;
}

.layer-0{
  background-image: url(../img/hangmancrop-0.png);
}

.layer-1{
  background-image: url(../img/hangmancrop-1.png);
}

.layer-2{
  background-image: url(../img/hangmancrop-2.png);
}

.layer-3{
  background-image: url(../img/hangmancrop-3.png);
}

.layer-4{
  background-image: url(../img/hangmancrop-4.png);
}

.layer-5{
  background-image: url(../img/hangmancrop-5.png);
}

.layer-6{
  background-image: url(../img/hangmancrop-6.png);
}

#modal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.85);
}

#modal.hidden{
  display: none;
}

#modal h2{
  color: #163E8C;
  font-weight: normal;;
}

#modal button{
  background-color: #123273;
  border: none;
  padding: 10px 40px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  float: right;
  transition: all 0.4s;
}

#modal button:hover{
  background-color: #163E8C;
  cursor: pointer;
}

.message{
  background-color: rgba(255, 255, 255, 0.85);
  width: 50%;
  height: auto;
  padding: 30px;
  margin: 200px auto;
  color: #555;
}

.messagebody{
  margin: 0 0 50px;
}
