*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html, body{
  color: #666;
}

#quote{
  margin-bottom: 70px;
}

.container{
  padding: 20px;
}

h2{
  margin: 10px 0;
  clear: both;
}

.meta{
  margin-bottom: 20px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

ul{
  list-style: none;
  display: inline-block;
}

.quotebox li{
  font-size: 25px;
  color: #555;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin: 2px;
  background-color: #fff;
  border-bottom: 2px solid #007CFF;
  display: inline-block;
}

.letterbox li{
  font-size: 25px;
  border: 1px solid #007CFF;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 2px;
  background-color: #fff;
  float: left;
}

.quotebox .content .word{
  margin: 6px 30px 6px 30px;
}

li{
  position: relative;
  font-weight: normal;
  text-align: center;
  z-index: 2;
  transition: all 0.5s;
}

li.choice:hover{
  cursor: pointer;
  color: #FFAA19;
  transform: scale(1.4);
  z-index: 10;
}

li.choice{
  background-color: #fff;
  color: #007CFF;
}

li.selected{
  background-color: #007CFF;
  color: #fff;
  font-weight: bold;
}

.quotebox .content{
  padding: 30px 10px;
  background-color: #eee;
  display: block;
  text-align: center;
}

.letterbox  {
  width: 50%;
}

li.guessed-true{
  background-color: pink;
}
